form {
  width: 480px;
  margin: 20px auto;
  background-color: rgba(230, 230, 230, 0.6);
  border-radius: 1em;
  padding: 1em;
  padding-bottom: 60px;
}

#btnSubmit {
  float: left;
  display: block;
  background: #666EE8;
  color: white;
  box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.10),
    0 3px 6px 0 rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  border: 0;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
  height: 40px;
  line-height: 38px;
  outline: none;
}

#btnSubmit:focus {
  background: #555ABF;
}

#btnSubmit:active {
  background: #43458B;
}

.outcome {
  float: left;
  width: 100%;
  padding-top: 8px;
  min-height: 24px;
  text-align: center;
}

.success,
.error {
  display: none;
  font-size: 13px;
}

.success.visible,
.error.visible {
  display: inline;
}

.error {
  color: #E4584C;
}

.success {
  color: #666EE8;
}

.success .token {
  font-weight: 500;
  font-size: 13px;
}

#stripe-form {
  /* background-color: antiquewhite; */
  padding: 1em;
}

.pay-label {
  text-align: center;
  width: 100%;
}